# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
admissions_predict = pd.read_csv(r"\Users\renji\OneDrive\Desktop\Ironhack\Labs\11_lab-advanced-pandas\your-code\data\Admission_Predict.csv")

Remove trailing spaces at the end of the column names if there are any.

In [3]:
# your code here
admissions_predict.columns = admissions_predict.columns.str.replace(' ', '')

Let's evaluate the dataset by looking at the `head` function.

In [4]:
# your code here
admissions_predict.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [5]:
# your code here
admissions_predict.isnull().any().any()
admissions_predict.isna().any().any()
admissions_predict.isnull().sum()

SerialNo.           0
GREScore            0
TOEFLScore          0
UniversityRating    0
SOP                 0
LOR                 0
CGPA                0
Research            0
ChanceofAdmit       0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# your code here
admissions_predict.set_index("SerialNo.", drop=False, inplace=True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# your code here
#admissions_predict.duplicated(subset=("GREScore", "CGPA"), keep=False)==True
admissions_predict[admissions_predict[["GREScore", "CGPA"]].duplicated() == True]

Empty DataFrame
Columns: [SerialNo., GREScore, TOEFLScore, UniversityRating, SOP, LOR, CGPA, Research, ChanceofAdmit]
Index: []

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
admissions_predict.set_index(["GREScore","CGPA"], drop=True, inplace=True)
admissions_predict

,,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
GREScore,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
# your code here
admissions_predict.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# your code here
filtered = admissions_predict[(admissions_predict["CGPA"]>9) & (admissions_predict["Research"]==1)]
filtered
# 101 rows

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
0,337,9.65,1,118,4,4.5,4.5,1,0.92
4,330,9.34,5,115,5,4.5,3.0,1,0.90
10,328,9.10,11,112,4,4.0,4.5,1,0.78
19,328,9.50,20,116,5,5.0,5.0,1,0.94
20,334,9.70,21,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...,...
379,329,9.23,380,111,4,4.5,4.0,1,0.89
380,324,9.04,381,110,3,3.5,3.5,1,0.82
381,325,9.11,382,107,3,3.0,3.5,1,0.84
382,330,9.45,383,116,4,5.0,4.5,1,0.91
384,333,9.66,385,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# your code here
filtered = admissions_predict[(admissions_predict["CGPA"]>9) & (admissions_predict["SOP"]<3.5)].agg({"ChanceofAdmit":"mean"})
filtered

ChanceofAdmit    0.802
dtype: float64

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [12]:
import numpy as np

def standardize(col=int):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here
    x = ((col) - np.mean(col)) / (np.std(col))
    return x

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [13]:
# your code here
admissions_predict["CGPA_std"] = standardize(admissions_predict["CGPA"])
admissions_predict["GRE_std"] = standardize(admissions_predict["GREScore"])
admissions_predict["LOR_std"] = standardize(admissions_predict["LOR"])
admissions_predict

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [14]:
# Libraries
from random import choices

In [15]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions_predict.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [16]:
# your code here
admissions_predict["deciding_column"] = admissions_predict.lookup(admissions_predict.index, admissions_predict[decision_choice])
admissions_predict

C:\Users\renji\AppData\Local\Temp\ipykernel_22736\2702991409.py:2: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions_predict["deciding_column"] = admissions_predict.lookup(admissions_predict.index, admissions_predict[decision_choice])

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.076840
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.149292
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [17]:
# your code here
admissions_predict["decision"]=[1 if element >0.8 else 0 for element in admissions_predict["deciding_column"]]
admissions_predict

,GREScore,CGPA,SerialNo.,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.076840,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.149292,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [18]:
# your code here
admissions_predict["decision"].value_counts()
# 88 will be accepted

0    292
1     93
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [19]:
# your code here
admissions_predict.columns = admissions_predict.columns.str.strip()
admissions_predict.columns = admissions_predict.columns.str.replace(" ","_", regex=False)
admissions_predict.columns = admissions_predict.columns.str.lower()
admissions_predict.columns = admissions_predict.columns.str.replace(".","", regex=False)
admissions_predict

,grescore,cgpa,serialno,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297,0
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.076840,0
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571,1
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.149292,1
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [30]:
# your code here
for rating in admissions_predict["universityrating"]:
    if rating >=4:
        admissions_predict["adjusted_gre"]=(admissions_predict["grescore"]+10)
    else: 
        admissions_predict["adjusted_gre"]=admissions_predict["grescore"] 

admissions_predict

,grescore,cgpa,serialno,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1,347
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,0.076840,0,326
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,0.456297,0,332
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.643433,0,324
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,0.076840,0,334
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,0.852571,1,335
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,1.149292,1,340
383,312,8.78,384,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,-0.409947,0,322
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,1.766796,1,343

In [31]:
bins = pd.cut(admissions_predict["adjusted_gre"], 4)
bins.value_counts()

(325.0, 337.5]     140
(312.5, 325.0]     120
(337.5, 350.0]      70
(299.95, 312.5]     55
Name: adjusted_gre, dtype: int64